*{
    margin: 0px;
    padding: 0px;
}

/* this is  the  css of first navigation bar */
#img1{
    width:30px;
    height: 30px;  
    display:inline;   
    
}
#input1{
    right: 400px;
    display: inline-block;
    vertical-align: middle;

    /* margin-left: ; */
     display: flex;
}

#input1{
    width: 900px;
    height: 40px;  
    display: inline;

}


#searchB{
    border-color: rgb(255, 255, 255);
    display: inline;
}
/* this is  the  css of second navigation bar */
